@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
    --rotateX: 25deg;
    --rotateY: 30deg;
    --rotateZ: 0deg;
    --icones: Quicksand;
}

* {
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    border: none;
    outline: none;
}

body {
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
}

div#cont {
    width: 400px;
    height: 100%;
    transition: .8s;
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) rotateZ(var(--rotateZ));
}

div.cubo {
    transform-style: preserve-3d;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
}

div.velha1,
div.velha2,
div.velha3 {
    transform: perspective(10cm) rotateX(70deg);
    width: 50%;
    align-self: center;
    background-color: transparent;
}

@keyframes rotateCubo {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

td {
    border: 5px solid whitesmoke;
    width: 55px;
    height: 55px;
    cursor: pointer;
    text-align: center;
}

td p {
    font-size: 2.4em;
    margin: 0;
    padding: 0;
    font-family: var(--icones);
    font-weight: 700;
    animation: .8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

@keyframes scale {
    from {
        scale: .2;
    }

    to {
        scale: 1;
    }
}

div.sliders {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.sliders > div {
    transform: rotate(270deg);
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: space-evenly;
}

div.sliders > div > span {
    padding: 10px;
    position: relative;
}

div.sliders input {
    margin: 0;
    padding: 0;
    width: 325px;
    height: 3.5rem;
    border-radius: 1rem;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(128, 128, 128, 0.342);
    border: none;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
    position: relative;
    transition-duration: .8s;
    cursor: pointer;
}

div.sliders input:hover {
    background-color: rgba(128, 128, 128, 0.811);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.38);
}

div.sliders input::before {
    content: "+";
    font-family: var(--icones);
    font-weight: 400;
    font-size: 2.4em;
    display: inline;
    color: rgb(43, 41, 41);
    position: absolute;
    z-index: 9999;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: .8s;
}

div.sliders input::after {
    content: "-";
    font-size: 2em;
    font-family: var(--icones);
    display: inline;
    font-weight: 400;
    color: rgb(43, 41, 41);
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%) rotate(-270deg) scale(2.4, 1.6);
    z-index: 999;
    transition-duration: .8s;
}

div.sliders input:hover::after, div.sliders input:hover::before {
    color: whitesmoke;
}

input.input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 60px;
    transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1);
    border-radius: 0px 10px 10px 0px;
    box-shadow: -407px 0 0 400px #868686;
    background-color: #868686;
    z-index: 888;
    opacity: 0;
}

input.thumb::-webkit-slider-thumb {
    opacity: 1;
}

input[type="range"]:hover::-webkit-slider-thumb {
    background: rgb(71, 70, 70);
    box-shadow: -407px 0 0 400px rgb(71, 70, 70);
}

/* estilo pros arrombado de firefox */

