@charset "UTF-8";

:root {
    --rotateX: 25deg;
    --rotateY: 30deg;
    --rotateZ: 0deg;
}

* {
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

body {
    background-color: rgb(63, 61, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    width: 50%;
    float: left;
}

div.cont {
    width: 400px;
    height: 400px;
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) rotateZ(var(--rotateZ));
}

div.cubo {
    transform-style: preserve-3d;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
}

div.velha1,
div.velha2,
div.velha3 {
    transform: perspective(10cm) rotateX(70deg);
    width: 50%;
    align-self: center;
    background-color: transparent;
}

div.velha1 {
    border: 2px solid red;
}

div.velha2 {
    border: 2px solid green;
}

div.velha3 {
    border: 2px solid blue;
}

@keyframes rotateCubo {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

td {
    border: 5px solid whitesmoke;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

div.sliders {
    width: 50%;
    height: 50%;
    margin-top: 5px;
    float: right;
    display: flex;
    flex-direction: row;
}

div.sliders > input {
    transform: rotate(90deg);
}